<%- include('./partials/header.ejs') %>


<div class="page_header">
    <div class="img_container">
        <img class="page_img" src="/img/<%= question.picture %>.jpg" alt="picture showing <%= question.picture %>">
    </div>
    <% question.tagsFromQuestion.forEach(tag => { %>
        <a class="btn card_link card_link--tag" href="/tags/<%= tag.id %>">
            <div class="card_tag card_tag--<%= tag.name.toLowerCase() %>"><%= tag.name %></div>
        </a>
    <% }) %>
    <h2 class="page-title"><%= question.title %></h2>    
</div>
<div class="page_body">

    <p class="page_description"><%- texteAvecSautsDeLigne %></p>

    <section class="comments">
        
        <h3 class="comments-title">Commentaires</h3>
        
        <form action="POST" class="form form--comment">

            <div class="form-label-group">
                <input type="text" class="form-control" id="comment-description" name="comment-description"
                    placeholder="Votre commentaire">
                <label for="comment-description">Votre commentaire</label>
            </div>

            <button class="btn btn--signin" type="submit">Envoyer</button>

        </form>

        <% question.commentsFromQuestion.forEach(comment => { %>
            <div class="comment">
                <p class="comment-author-date">Commentaire posté par <strong><%= comment.userOfComment.username %></strong> le <%= comment.created_at.toLocaleDateString("fr") %></p>
                <p class="comment-description"><%= comment.description %></p>
            </div>
        <% }) %>

    </section>

    <a class="btn btn--homepage_link" href="/">
        Retour à la page d'accueil
    </a>

</div>
        
<%- include('./partials/footer.ejs') %>