<%- include('./partials/header.ejs') %>

<h2 class="page-title"><%= tag.name %></h2>

<div class="cards">

    <% tag.questionsFromTags.forEach(question => { %>
        <card class="card">
            <div class="card_header">
                <img class="card_img" src="/img/<%= question.image %>.jpg" alt="picture showing <%= question.image %>">
                    
                <h3 class="card_title"><%= question.title %></h3>
               
            </div>
            <div class="card_body">
                <a class="btn card_link card_link--question" href="/<%= question.id %>">
                    Voir la réponse
                </a>
                <p class="card_author">Une question posée par <%= question.userOfQuestion.firstname %> <%= question.userOfQuestion.lastname %></p>
            </div>
        </card>
    <% }) %>

</div>
        
<%- include('./partials/footer.ejs') %>

    